<link rel="shortcut icon" href="cover.png">
<link rel="stylesheet" type="text/css" href="main.css">
<title>Ukulele Heroes IV: Revenge of the Finger Calluses</title>

    <meta name="title" content="Ukulele Heroes IV: Revenge of the Finger Calluses">
        <meta property="og:title" content="Ukulele Heroes IV: Revenge of the Finger Calluses">
        <meta property="og:type" content="album">
        <meta property="og:site_name" content="Mark! Silver">
        <meta property="og:description" content="24 track album">
        <meta property="og:image" content="cover.png">

<script src="jquery.min.js"></script>
<script src="playlist.js"></script>

<h1>Ukulele Heroes IV: Revenge of the Finger Calluses</h1>

<a href="https://marksilver.gitlab.io">(Return to Index)</a><br><br>

<img style="border:1px white solid" src="cover.png" width="250px" height="250px"/>

<p><i>Released on 7th June 2018</i></p>

<p>I've had this uke for about a week now; here's what I can play! ;)<br><br><a href="https://spiffyflinger.bandcamp.com/album/ukulele-hero-iii-more-like-pukulele">shoutout to josh lol</a></p><hr>

<h2>Listen</h2>

Click on a track's title to play it, &amp; the website will stream the playlist from there!<br>
Alternatively, you can stream this album in your own media player with its <a href="1weekuke.m3u">M3U File</a>.<br><br>

<audio id="audio" preload="auto" tabindex="0" controls="" src="01_wonderfulrainbow.ogg">

	You don't have Javascript enabled, but you can click a track's title to download it. :)

</audio>

<ul id="playlist">

	<li class="active">
	
		<a href="01_wonderfulrainbow.ogg">
			Somewhere Over The Rainbow / What A Wonderful World
		</a>

		(Israel Kamakawiwo'ole)
	
	</li>

	<li>
	
		<a href="02_thinkingpuppet.ogg">
			Puppet Strings / Thinking To Myself
		</a>
		
		 (Probehead)
	
	</li>
	
	<li>
	
		<a href="03_strawbind.ogg">
			Straw In The Ocean / Bind
		</a>

		
	
	</li>
	
	<li>
	
		<a href="04_redbone.ogg">
			Redbone
		</a>

		(Childish Gambino)
	
	</li>
	
	<li>
	
		<a href="05_stayinalive.ogg">
			Stayin' Alive
		</a>
		
		 (Bee Gees)
	
	</li>
	
	<li>
	
		<a href="06_allstar.ogg">
			All Star
		</a>
		
		 (Smash Mouth)
	
	</li>
	
	<li>
	
		<a href="07_bbad2thing.ogg">
			Bbadd2 Thing
		</a>

		(Sometimes The Cat)
	
	</li>
	
	<li>
	
		<a href="08_tvnever.ogg">
			And The TV Never Turned Off Again
		</a>

		
	
	</li>
	
	<li>
	
		<a href="09_liveunderarock.ogg">
			Live Under A Rock
		</a>

		
	
	</li>
	
	<li>
	
		<a href="10_favoriteweather.ogg">
			You're My Favorite Person / Weather Song
		</a>

		(Probehead)
	
	</li>
	
	<li>
	
		<a href="11_marshallsaid.ogg">
			Just Like The Marshal Said
		</a>

		(Diyath Yavin)
	
	</li>
	
	<li>
	
		<a href="12_hereisthepart.ogg">
			Here Is The Part
		</a>

		(The Nonstarters)
	
	</li>
	
	<li>
	
		<a href="13_sly.ogg">
			Sly
		</a>

		(The Nonstarters)
	
	</li>
	
	<li>
	
		<a href="14_callusonmythumb.ogg">
			Callus On My Thumb (Improv)
		</a>

		
	
	</li>

	<li>
	
		<a href="15_trees.ogg">
			Trees
		</a>
	
	</li>

	<li>
	
		<a href="16_hospitalfriends.ogg">
			Hospital Friends
		</a>

		(The Foresters)
	
	</li>

	<li>
	
		<a href="17_confessionalsong.ogg">
			Confessional Song
		</a>

		(Bubblegum Cigars)
	
	</li>

	<li>
	
		<a href="18_scrapelion.ogg">
			Scrape Away / The Lion Sleeps Tonight
		</a>

		(Spiffy Flinger / The Tokens)
	
	</li>

	<li>
	
		<a href="19_msm.ogg">
			Mainstream Media
		</a>
	
	</li>

	<li>
	
		<a href="20_lonelyones.ogg">
			The Lonely Ones
		</a>

		(Spiffy Flinger)
	
	</li>

	<li>
	
		<a href="21_stevenuniverse.ogg">
			Steven Universe Opening Theme
		</a>

		(Rebecca Sugar)
	
	</li>

	<li>
	
		<a href="22_mildenhall.ogg">
			Mildenhall
		</a>

		(The Shins)
	
	</li>

	<li>
	
		<a href="23_cherryhearts.ogg">
			Cherry Hearts
		</a>

		(The Shins)
	
	</li>

	<li>
	
		<a href="24_sameoldstreet.ogg">
			Same Old Street
		</a>
	
	</li>

</ul>

<hr>

<h2>Download Album</h2>

<a href="https://gitlab.com/marksilver/1weekuke/">clone/download the repo</a>.
